.login-container{
    width:1200px;
    padding-top:100px;
    padding-left:450px;
    
    }
.form-container{

    width:400px;
    height:300px;
    background-color:azure;
   padding-left:40px;
   padding-top:60px;
    
}

.status-style{
 color:red;
}





