<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    
    <button (click)="addEmployee()" mat-raised-button>
      Add Employee
    </button><br><br>
    <button (click)="showFiller = !showFiller" mat-raised-button>
      List Of Employees
    </button>
  </mat-drawer>

  <div class="example-sidenav-content">
    <button type="button" mat-button (click)="drawer.toggle()">
      Employee Functionalities
    </button>
  </div>

</mat-drawer-container>