
.session-popup-container{
    width:1050px;
    padding-top:25px;
    padding-left: 50px;

}
.container{
    text-align: center;
    background-color: cadetblue;
    height:150px;
    padding-top:35px;

}
.btton-custom{
    text-align: right;
    padding-right: 30px;
}


    
    