<!-- <mat-grid-list cols="1" rowHeight="4:2">
  <mat-grid-tile>
      <mat-grid-tile-header>
        <mat-grid-list cols="3">
          <mat-grid-tile>Employee Details</mat-grid-tile>
        </mat-grid-list>
      </mat-grid-tile-header>
    1
    <mat-grid-tile-footer>footer</mat-grid-tile-footer>
  </mat-grid-tile>
  
 

  
</mat-grid-list> -->
<div class="home-container">
<div class="header-container">
 <app-header></app-header>
</div>
<div class="router-container">
      <router-outlet></router-outlet>
</div>
<div class="footer-container">
    <app-footer></app-footer>
</div>
</div>